In [ ]:
# what happens with variability?

tvalues_plot=pd.DataFrame({'t':tvalues,
                           'p':pvalues,
                          'variability':variability*3,
                          'size':np.repeat(sizes,3)})

In [5]:
set1 = {'y1':5, 'y2':8, 's1':1, 's2':3, 'N1':200, 'N2':500}
set2 = {'y1':1090, 'y2':999, 's1':400, 's2':30, 'N1':900, 'N2':100}
set3 = {'y1':45, 'y2':40, 's1':45, 's2':40, 'N1':2000, 'N2':2000}

In [6]:
def t_val(set):
    delta_mean = set['y1'] - set['y2']
    var_size = (((set['s1']**2)/(set['N1']))+((set['s2']**2)/(set['N2'])))**(1/2)
    return delta_mean/var_size

In [11]:
print(t_val(set1))
print(t_val(set2))
print(t_val(set3))

-19.78141420187361
6.658536585365854
3.7139067635410377

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('sample_data/GreenStreet-Data-2019-10-31.xlsx')

In [3]:
df.head(10)

                                Unnamed: 0    Unnamed: 1   Unnamed: 2
0                                      NaN           NaN          NaN
1                                      NaN           NaN          NaN
2                                      NaN           NaN          NaN
3                                      NaN           NaN          NaN
4  Commercial Property Return Index (CPRI)           NaN          NaN
5                                      NaN           NaN          NaN
6          Date Download: October 31, 2019           NaN          NaN
7    Date Last Updated: September 01, 2019           NaN          NaN
8                                    Date1  All Property  Core Sector
9                               1997-11-01           NaN          NaN