# Summary Stats Assignment

When you've given it a try, you can find a solution [here](https://github.com/Thinkful-Ed/data-201-resources/blob/master/solutions/Prep%20course/3.1.4.ipynb).

1. Greg was 14, Marcia was 12, Peter was 11, Jan was 10, Bobby was 8, and Cindy was 6 when they started playing the Brady kids on The Brady Bunch.  Cousin Oliver was 8 years old when he joined the show. What are the mean, median, and mode of the kids' ages when they first appeared on the show? What are the variance, standard deviation, and standard error?

In [109]:
#create a dataframe
import pandas as pd

name = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Oliver']
age = [14,12,11,10,8,6,8]

brady_kids = pd.DataFrame()
brady_kids['name'] = name
brady_kids['age'] = age
brady_kids

     name  age
0    Greg   14
1  Marcia   12
2   Peter   11
3     Jan   10
4   Bobby    8
5   Cindy    6
6  Oliver    8

In [110]:
#set up dictionary for summary statistics
keys = ['mean', 'median', 'mode', 'variance', 'standard deviation', 'standard error']
summary_stats = {key: None for key in keys}
summary_stats

{'mean': None,
 'median': None,
 'mode': None,
 'variance': None,
 'standard deviation': None,
 'standard error': None}

In [111]:
def calc_stats_manual(df, column, dictionary):

    #manual calculation

    #mean
    mean = df[column].sum()/len(df[column])
    dictionary['mean'] = mean

    #median
    if len(df) % 2 == 1:
        median = sorted(df[column])[(len(df)//2)]
    elif len(df) % 2 == 0:
        median = (sorted(df[column])[(len(df)//2)] + sorted(df[column])[(len(df)//2)-1])/2
    dictionary['median'] = median

    #mode    
    age_counts = df[column].value_counts()
    mode = age_counts.index[age_counts == age_counts.max()].tolist()
    if len(mode) == len(df):
        mode = "no mode"
    dictionary['mode'] = mode

    #variance
    var = sum([(x - mean)**2 for x in df[column]])/(len(df)) #variance is devided by n
                                                                            #this series is the whole population
    dictionary['variance'] = var

    #standard deviation
    std = var**0.5
    dictionary['standard deviation'] = std

    #standard error
    se = std/(len(df)**0.5)
    dictionary['standard error'] = se
    
    for key,value in dictionary.items():
        if type(value) == list:   #to address mode list 
            dictionary[key] = [round(item,2) for item in value]
        elif type(value) == str:
            pass
        else:
            dictionary[key] = round(value,2)
    return dictionary
    

summary_stats_manual = calc_stats_manual(brady_kids, 'age', summary_stats)
summary_stats_manual

{'mean': 9.86,
 'median': 10,
 'mode': [8],
 'variance': 6.41,
 'standard deviation': 2.53,
 'standard error': 0.96}

In [112]:
#using pandas method
def calc_stats_pandas(df, column, dictionary):
    dictionary['mean'] = df[column].mean() 
    dictionary['median'] = df[column].median()
    dictionary['mode'] = df[column].mode().tolist()  #mode() returns dataframe object, converto to list
    dictionary['variance'] = df[column].var(ddof = 0) #ddof set to 0 to divide by size of set
    dictionary['standard deviation'] = df[column].std(ddof = 0)
    dictionary['standard error'] = df[column].sem(ddof = 0) 

    for key,value in dictionary.items():
        if type(value) == list:   #to address mode list 
            dictionary[key] = [round(item,2) for item in value]
        else:
            dictionary[key] = round(value,2)
    return dictionary

summary_stats_pandas = calc_stats_pandas(brady_kids, 'age', summary_stats)
summary_stats_pandas

{'mean': 9.86,
 'median': 10.0,
 'mode': [8],
 'variance': 6.41,
 'standard deviation': 2.53,
 'standard error': 0.96}

In [113]:
#one final check
#looks like describe defaults to Bessel's correction (n-1)
brady_kids.describe()

             age
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

2. Using these estimates, if you had to choose only one estimate of central tendency and one estimate of variance to describe the data, which would you pick and why?

[answer] For this data set, the median is best estimation of central tendency and standard deviation is best description of spread.  The output from standard deviation gives a more complete description of the data points above and below the median.  If we were to split the data points between above or below median, standard deviation is almost describing the average or median of the subgroups.

3. Next, Cindy has a birthday. Update your estimates- what changed, and what didn't?

[answer] From the outputs below, only median and mode didn't change.

In [114]:
brady_kids.loc[brady_kids['name'] == 'Cindy','age'] += 1
brady_kids

     name  age
0    Greg   14
1  Marcia   12
2   Peter   11
3     Jan   10
4   Bobby    8
5   Cindy    7
6  Oliver    8

In [115]:
summary_stats_old = summary_stats_pandas
summary_stats_old

{'mean': 9.86,
 'median': 10.0,
 'mode': [8],
 'variance': 6.41,
 'standard deviation': 2.53,
 'standard error': 0.96}

In [116]:
summary_stats_new = calc_stats_pandas(brady_kids, 'age', summary_stats)
summary_stats_new

{'mean': 10.0,
 'median': 10.0,
 'mode': [8],
 'variance': 5.43,
 'standard deviation': 2.33,
 'standard error': 0.88}

4. Nobody likes Cousin Oliver. Maybe the network should have used an even younger actor. Replace Cousin Oliver with 1-year-old Jessica, then recalculate again.  Does this change your choice of central tendency or variance estimation methods?

[answer] From the output below, I still think median and standard deviation are good choice for determining central tendency and describing data.

In [117]:
brady_kids.loc[brady_kids['name'] == 'Oliver'] = ['Jessica',1]
brady_kids

      name  age
0     Greg   14
1   Marcia   12
2    Peter   11
3      Jan   10
4    Bobby    8
5    Cindy    7
6  Jessica    1

In [120]:
summary_stats_no_oliver = calc_stats_manual(brady_kids, 'age', summary_stats)
summary_stats_no_oliver

{'mean': 9.0,
 'median': 10,
 'mode': 'no mode',
 'variance': 15.43,
 'standard deviation': 3.93,
 'standard error': 1.48}

5. On the 50th anniversary of The Brady Bunch, four different magazines asked their readers whether they were fans of the show.  The answers were:

|magazine                |fans|
|------------------------|--------|
|TV Guide                |20% fans|
|Entertainment Weekly    |23% fans|
|Pop Culture Today       |17% fans|
|SciPhi Phanatic         |5% fans |

   Based on these numbers, what percentage of adult Americans would you estimate were Brady Bunch fans on the 50th anniversary of the show?
    
   [answer] From the outputs below, I would estimate the percentage of adult Americans who were Brady Bunch fans to be around the 50th percentile or **18.5% of the adult American population**.  This is in line with a few assumptions of the data.  
   1. the low fan base from SciPhi Phanatic skewing the mean is not the target demographic of the show.
   2. TV Guide, Entertainment Weekly, and Pop Culture Today have a wider and more general demographic that is more representative of the population of adult Americans.

In [124]:
fans_percentage = pd.Series([.2,.23,.17,.05])
fans_percentage

0    0.20
1    0.23
2    0.17
3    0.05
dtype: float64

In [125]:
fans_percentage.describe()

count    4.000000
mean     0.162500
std      0.078899
min      0.050000
25%      0.140000
50%      0.185000
75%      0.207500
max      0.230000
dtype: float64