# Assignment

In this assignment, you keep working with the [Students Performance in Exams dataset from Kaggle](https://www.kaggle.com/spscientist/students-performance-in-exams). You should access the data from the Thinkful database. 

### Context

Marks secured by the students

### Content

This data set consists of the marks secured by the students in various subjects.
Acknowledgements

http://roycekimmons.com/tools/generated_data/exams

### Inspiration

To understand the influence of the parents background, test preparation etc on students performance

### About this file
Marks secured by the students in high school Students from the United States.

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')

Access this data from the Thinkful database using the following credentials:

In [3]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'studentsperformance'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

studentsperformance_df = pd.read_sql_query('select * from studentsperformance',con=engine)

# no need for an open connection, 
# as we're only doing a single query
engine.dispose()

In [4]:
studentsperformance_df.to_csv('studentsperformance.csv',index=False)

In [5]:
studentsperformance_df = pd.read_csv('studentsperformance.csv')

In [6]:
studentsperformance_df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75