In [1]:
import pandas as pd
import re

In [2]:
# detect encoding for csv file
!file -I sample_data/WELLCOME_APCspend2013_forThinkful.csv

sample_data/WELLCOME_APCspend2013_forThinkful.csv: text/plain; charset=unknown-8bit

In [3]:
# Load data, encoding issues with utf-8 so specified using unicode-escape

wellcome_trust = pd.read_csv('sample_data/WELLCOME_APCspend2013_forThinkful.csv', encoding='ISO-8859-1')
# wellcome_trust_1 = pd.read_csv('sample_data/WELLCOME_APCspend2013_forThinkful.csv', encoding='unicode-escape')

In [ ]:
# not a concern, can check individual fields later
wellcome_trust is wellcome_trust_1

In [5]:
wellcome_trust.head(5)

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [6]:
wellcome_trust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2127 entries, 0 to 2126
Data columns (total 5 columns):
PMID/PMCID                                             1928 non-null object
Publisher                                              2127 non-null object
Journal title                                          2126 non-null object
Article title                                          2127 non-null object
COST (£) charged to Wellcome (inc VAT when charged)    2127 non-null object
dtypes: object(5)
memory usage: 83.2+ KB

In [7]:
wellcome_trust.columns = ['PMID/PMCID','PUBLISHER','JOURNAL','ARTICLE','COST']

## Assignment

#### 1. Determine the five most common journals and the total articles for each.

In [80]:
# frequency for unique journal title entries
# assumes no duplicate article title per journal
wellcome_trust['JOURNAL'].str.replace('\W+',' ').apply(lambda x: str(x).upper().strip()).value_counts().head(10)

PLOS ONE                                           191
JOURNAL OF BIOLOGICAL CHEMISTRY                     53
NEUROIMAGE                                          29
NUCLEIC ACIDS RESEARCH                              26
PLOS PATHOGENS                                      24
PLOS GENETICS                                       24
PROCEEDINGS OF THE NATIONAL ACADEMY OF SCIENCES     22
PLOS NEGLECTED TROPICAL DISEASES                    20
HUMAN MOLECULAR GENETICS                            19
NATURE COMMUNICATIONS                               19
Name: JOURNAL, dtype: int64

In [79]:
# check for duplicate articles 
wellcome_trust['ARTICLE'].str.replace('\W+',' ').apply(lambda x: str(x).upper().strip()).value_counts().reset_index().head(10)

                                               index  ARTICLE
0  EXCLUSIVE BREASTFEEDING DIARRHOEL MORBIDITY AN...        2
1  ABUSE AND OTHER CORRELATES OF COMMON MENTAL DI...        2
2  THE RELATIONSHIP BETWEEN TETANUS INTENSITY AND...        2
3  CHARACTERISING REWARD OUTCOME SIGNALS IN SENSO...        1
4  TRIAD1 AND HHARI BIND TO AND ARE ACTIVATED BY ...        1
5  PYRIMIDINE BIOSYNTHESIS IS NOT AN ESSENTIAL FU...        1
6  STATE INDEPENDENT INTRACELLULAR ACCESS OF QUAT...        1
7  THE PATHWAYS FOR INTELLIGIBLE SPEECH MULTIVARI...        1
8  BEASTS MURRAINS AND THE BRITISH RAJ REASSESSIN...        1
9  PREDICTING THE DEVELOPMENT OF ACUTE KIDNEY INJ...        1

#### 2. Calculate the mean, median, and standard deviation of the open-access cost per article for each journal.

In [81]:
# extract currency symbols without removing decimal then convert result to number to perform summary stats
wellcome_trust['COST'].str.replace('[£$]','').astype('float').describe()

count      2127.000000
mean      24067.339972
std      146860.665559
min           0.000000
25%        1280.000000
50%        1884.010000
75%        2321.305000
max      999999.000000
Name: COST, dtype: float64

In [92]:
# alternative answer
pd.to_numeric(wellcome_trust['COST'].str.replace('[£$]','').sort_values()).describe()

count      2127.000000
mean      24067.339972
std      146860.665559
min           0.000000
25%        1280.000000
50%        1884.010000
75%        2321.305000
max      999999.000000
Name: COST, dtype: float64

#### BONUS: Identify the open access prices paid by subject area.