In [1]:
# Import the SQL ALchemy engine
from sqlalchemy import create_engine

In [2]:
# Database credentials
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

In [3]:
# Execute the SQL statement again
film = engine.execute('select * from film limit 10')
rental = engine.execute('select * from rental limit 10')

# dispose the connection
engine.dispose()

# use fetchall() to get a list of rows from the results.
film_rows = film.fetchall()
rental_rows = rental.fetchall()

# now process the list of rows
# for row in rows:
#   print(row)

In [4]:
film.keys()

['film_id',
 'title',
 'description',
 'release_year',
 'language_id',
 'original_language_id',
 'rental_duration',
 'rental_rate',
 'length',
 'replacement_cost',
 'rating',
 'last_update',
 'special_features',
 'fulltext']

In [7]:
rental.keys();

1. How many movies are released for each rating?

In [15]:
sql= '''
SELECT rating, COUNT(*) FROM film
GROUP BY rating
'''
# Execute the SQL statement again
rating_movie_count = engine.execute(sql)

# dispose the connection
engine.dispose()

# use fetchall() to get a list of rows from the results.
rows = rating_movie_count.fetchall()

# now process the list of rows
for row in rows:
  print(f"{row[0]}: {row[1]} movies")

R: 195 movies
NC-17: 210 movies
PG: 194 movies
PG-13: 223 movies
G: 178 movies

2. What is the average rental duration for each rating?

In [14]:
sql = '''
SELECT rating, ROUND(AVG(rental_duration),2) FROM film
GROUP BY rating
'''

# Execute the SQL statement again
rating_avg_rental_duration = engine.execute(sql)

# dispose the connection
engine.dispose()

# use fetchall() to get a list of rows from the results.
rows = rating_avg_rental_duration.fetchall()

# now process the list of rows
for row in rows:
  print(f"{row[0]}: {row[1]} days")

R: 4.77 days
NC-17: 5.14 days
PG: 5.08 days
PG-13: 5.05 days
G: 4.84 days

3. What is the mean movie length? Calculate this by defining a function?

In [25]:
def mean(list_of_numbers):
    total = 0
    length = len(list_of_numbers)
    for number in list_of_numbers:
        total += number
    return total/length

In [71]:
sql = '''
SELECT length FROM film
'''

# Execute the SQL statement again
movie_length = engine.execute(sql)

# dispose the connection
engine.dispose()

# use fetchall() to get a list of rows from the results.
movie_lengths = movie_length.fetchall()

list_movie_lengths = [x['length'] for x in movie_lengths]

print(f"The average movie length is {mean(list_movie_lengths):.2f} minutes")

The average movie length is 115.27 minutes

4. What is the median movie length? Calculate this by defining a function

In [49]:
def median(items_list):
    items_list.sort()
    length = len(items_list)
    if length%2 == 1:
        return items_list[length//2]
    elif length%2 == 0:
        return (items_list[length//2] + items_list[length//2 - 1])/2

In [63]:
sql = '''
SELECT length FROM film
'''

movie_length = engine.execute(sql)
engine.dispose()

movie_lengths = movie_length.fetchall()
list_movie_lengths = [x['length'] for x in movie_lengths]

print(f"The median movie length is {median(list_movie_lengths):.0f} minutes.")

The median movie length is 114 minutes.

5. Calculate the standard deviation of the movie lengths. Calculate this by defining a function.

In [78]:
def standard_deviation(items_list):
    total = 0
    length = len(items_list)
    avg = mean(items_list)
    for item in items_list:
        total += (item-avg)**2
    return (total/(length - 1))**(1/2)

In [79]:
print(f"The standard deviation of movie lengths is: {standard_deviation(list_movie_lengths):.2f}")

The standard deviation of movie lengths is: 40.43