In [4]:
import pandas as pd
import seaborn as sns

In [13]:
# Check Seaborn version
sns.__version__

'0.9.0'

In [11]:
# Setting the overall aesthetic.
sns.set(style="darkgrid")

# The Dataset

From Kaggle [https://www.kaggle.com/chirin/africa-economic-banking-and-systemic-crisis-data/downloads/africa-economic-banking-and-systemic-crisis-data.zip/1]

In [15]:
# Load dataframe from Kaggle
african_economy = pd.read_csv('sample_data/african_crises.csv')

In [43]:
african_economy.head(4)

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis

In [17]:
african_economy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1059 entries, 0 to 1058
Data columns (total 14 columns):
case                               1059 non-null int64
cc3                                1059 non-null object
country                            1059 non-null object
year                               1059 non-null int64
systemic_crisis                    1059 non-null int64
exch_usd                           1059 non-null float64
domestic_debt_in_default           1059 non-null int64
sovereign_external_debt_default    1059 non-null int64
gdp_weighted_default               1059 non-null float64
inflation_annual_cpi               1059 non-null float64
independence                       1059 non-null int64
currency_crises                    1059 non-null int64
inflation_crises                   1059 non-null int64
banking_crisis                     1059 non-null object
dtypes: float64(3), int64(8), object(3)
memory usage: 115.9+ KB

In [19]:
african_economy.columns

Index(['case', 'cc3', 'country', 'year', 'systemic_crisis', 'exch_usd',
       'domestic_debt_in_default', 'sovereign_external_debt_default',
       'gdp_weighted_default', 'inflation_annual_cpi', 'independence',
       'currency_crises', 'inflation_crises', 'banking_crisis'],
      dtype='object')

In [40]:
meta_data = []

for column in african_economy.columns:
    meta_data.append([column, african_economy[column].unique(), len(african_economy[column].unique())])
    
meta_data = pd.DataFrame(meta_data)
meta_data.columns = ['column', 'unique_entries', 'number_of_unique_entries']

In [41]:
meta_data

,column,unique_entries,number_of_unique_entries
0,case,"[1, 2, 10, 15, 19, 35, 38, 40, 45, 56, 63, 69,...",13
1,cc3,"[DZA, AGO, CAF, CIV, EGY, KEN, MUS, MAR, NGA, ...",13
2,country,"[Algeria, Angola, Central African Republic, Iv...",13
3,year,"[1870, 1871, 1872, 1873, 1874, 1875, 1876, 187...",155
4,systemic_crisis,"[1, 0]",2
5,exch_usd,"[0.052264, 0.052798000000000005, 0.052274, 0.0...",772
6,domestic_debt_in_default,"[0, 1]",2
7,sovereign_external_debt_default,"[0, 1]",2
8,gdp_weighted_default,"[0.0, 0.23, 0.4, 0.13, 0.36, 0.06]",6
9,inflation_annual_cpi,"[3.4414556960000002, 14.14913958, -3.718592965...",1022
10,independence,"[0, 1]",2
11,currency_crises,"[0, 1, 2]",3
12,inflation_crises,"[0, 1]",2
13,banking_crisis,"[crisis, no_crisis]",2

In [42]:
african_economy['country'].unique()

array(['Algeria', 'Angola', 'Central African Republic', 'Ivory Coast',
       'Egypt', 'Kenya', 'Mauritius', 'Morocco', 'Nigeria',
       'South Africa', 'Tunisia', 'Zambia', 'Zimbabwe'], dtype=object)

# Assignment

1_a. Choose one variable and plot that variable four different ways.

1_b. Choose two continuous variables, and plot them three different ways.

1_c. Choose one continuous variable and one categorical variable, and plot them six different ways.

1_d. Give the pros and cons of each plot you create. You can use variables from multiple datasets if you like.

2. Find a dataset with at least four continuous variables and one categorical variable. Create one master plot that gives insight into the variables and their interrelationships, including:
        
        a. Probability distributions
        b. Bivariate relationships
        c. Whether the distributions or the relationships vary across groups
        d. Accompany your plot with a written description of what you see.