In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('UNdata_Export_20190819_182923011.csv')

In [4]:
df.head(5)

,Country or Area,Year,Commodity,Flow,Trade (USD),Weight (kg),Quantity Name,Quantity
0,Afghanistan,2016,ALL COMMODITIES,Import,6.534140e+09,NaN,No Quantity,NaN
1,Afghanistan,2016,ALL COMMODITIES,Export,5.964553e+08,NaN,No Quantity,NaN
2,Afghanistan,2015,ALL COMMODITIES,Import,7.722865e+09,NaN,No Quantity,NaN
3,Afghanistan,2015,ALL COMMODITIES,Export,5.714050e+08,NaN,No Quantity,NaN
4,Afghanistan,2014,ALL COMMODITIES,Import,7.697178e+09,NaN,No Quantity,NaN

In [5]:
df['Year'].unique()

array([2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2017, 2007,
       2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996,
       1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988, 2018])

In [8]:
df['Country or Area'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belgium-Luxembourg', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Isds', 'Central African Rep.', 'Chad', 'Chile',
       'China', 'China, Hong Kong SAR', 'China, Macao SAR', 'Colombia',
       'Comoros', 'Congo', 'Cook Isds', 'Costa Rica', "Côte d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czech Rep.', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Rep.', 'Ecuador', 'Egypt', 'El Salvador',
       'Eritrea', 'Estonia', 'Ethiopia', 'EU-28', 'Faeroe Isds', 'Fiji',
       'Finland', 'Fmr Fed. Rep. of Germany', 'Fmr Sudan', 'France',
       'French Guiana', 'French Polynesia', 'FS Micronesia', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland',
       'Grenada', 'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Dem. Rep.", 'Latvia',
       'Lebanon', 'Lesotho', 'Libya', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nepal', 'Neth. Antilles', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Norway', 'Oman', 'Other Asia, nes', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Rep. of Korea', 'Rep. of Moldova', 'Réunion',
       'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'So. African Customs Union',
       'Solomon Isds', 'South Africa', 'Spain', 'Sri Lanka',
       'State of Palestine', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syria', 'Tajikistan', 'TFYR of Macedonia',
       'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Isds',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United Rep. of Tanzania', 'Uruguay', 'USA',
       'Vanuatu', 'Venezuela', 'Viet Nam', 'Wallis and Futuna Isds',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [16]:
columns = df.columns

In [17]:
columns = [column.lower() for column in columns]
columns

['country or area',
 'year',
 'commodity',
 'flow',
 'trade (usd)',
 'weight (kg)',
 'quantity name',
 'quantity']

In [18]:
df.columns = columns
df.head(5)

,country or area,year,commodity,flow,trade (usd),weight (kg),quantity name,quantity
0,Afghanistan,2016,ALL COMMODITIES,Import,6.534140e+09,NaN,No Quantity,NaN
1,Afghanistan,2016,ALL COMMODITIES,Export,5.964553e+08,NaN,No Quantity,NaN
2,Afghanistan,2015,ALL COMMODITIES,Import,7.722865e+09,NaN,No Quantity,NaN
3,Afghanistan,2015,ALL COMMODITIES,Export,5.714050e+08,NaN,No Quantity,NaN
4,Afghanistan,2014,ALL COMMODITIES,Import,7.697178e+09,NaN,No Quantity,NaN

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9781 entries, 0 to 9780
Data columns (total 8 columns):
Country or Area    9781 non-null object
Year               9781 non-null int64
Commodity          9781 non-null object
Flow               9781 non-null object
Trade (USD)        9781 non-null float64
Weight (kg)        506 non-null float64
Quantity Name      9781 non-null object
Quantity           750 non-null float64
dtypes: float64(3), int64(1), object(4)
memory usage: 611.4+ KB

In [61]:
df = df.loc[:,['Country or Area', 'Year', 'Commodity', 'Flow', 'Trade (USD)']]

In [65]:
trade_18 = df[df['Year'] == 2018]

In [10]:
trade_2018['Country or Area'].unique()

NameError: name 'trade_2018' is not defined

In [67]:
df[df['Country or Area'] == 'Afghanistan']

   Country or Area  Year        Commodity    Flow   Trade (USD)
0      Afghanistan  2016  ALL COMMODITIES  Import  6.534140e+09
1      Afghanistan  2016  ALL COMMODITIES  Export  5.964553e+08
2      Afghanistan  2015  ALL COMMODITIES  Import  7.722865e+09
3      Afghanistan  2015  ALL COMMODITIES  Export  5.714050e+08
4      Afghanistan  2014  ALL COMMODITIES  Import  7.697178e+09
5      Afghanistan  2014  ALL COMMODITIES  Export  5.705340e+08
6      Afghanistan  2013  ALL COMMODITIES  Import  8.554414e+09
7      Afghanistan  2013  ALL COMMODITIES  Export  5.149730e+08
8      Afghanistan  2012  ALL COMMODITIES  Import  6.204984e+09
9      Afghanistan  2012  ALL COMMODITIES  Export  4.289027e+08
10     Afghanistan  2011  ALL COMMODITIES  Import  6.390311e+09
11     Afghanistan  2011  ALL COMMODITIES  Export  3.758509e+08
12     Afghanistan  2010  ALL COMMODITIES  Import  5.154250e+09
13     Afghanistan  2010  ALL COMMODITIES  Export  3.884836e+08
14     Afghanistan  2009  ALL COMMODITIES  Import  3.336435e+09
15     Afghanistan  2009  ALL COMMODITIES  Export  4.034410e+08
16     Afghanistan  2008  ALL COMMODITIES  Import  3.019860e+09
17     Afghanistan  2008  ALL COMMODITIES  Export  5.400656e+08

In [9]:
df.groupby(['Country or Area', 'Flow'])

In [70]:
df.groupby(['Country or Area', 'Flow'])['Trade (USD)'].mean()

Country or Area          Flow
Afghanistan              Export       4.877901e+08
                         Import       6.068271e+09
Albania                  Export       1.102133e+09
                         Import       3.208874e+09
                         Re-Export    6.089496e+08
                         Re-Import    6.724883e+07
Algeria                  Export       3.527966e+10
                         Import       2.624501e+10
                         Re-Import    8.060810e+05
Andorra                  Export       9.110226e+07
                         Import       1.405378e+09
                         Re-Import    2.788370e+06
Angola                   Export       5.426906e+10
                         Import       2.186729e+10
                         Re-Import    3.920000e+02
Anguilla                 Export       6.803920e+06
                         Import       1.394845e+08
Antigua and Barbuda      Export       5.852358e+07
                         Import       5.223066e+08
                         Re-Export    5.531902e+07
Argentina                Export       4.438551e+10
                         Import       3.939279e+10
                         Re-Import    3.181985e+07
Armenia                  Export       9.975997e+08
                         Import       2.597464e+09
                         Re-Export    1.420257e+08
                         Re-Import    8.952993e+06
Aruba                    Export       1.199364e+08
                         Import       1.075440e+09
                         Re-Export    8.190823e+07
                                          ...
United Kingdom           Import       4.990097e+11
                         Re-Export    7.679699e+09
                         Re-Import    5.061428e+09
United Rep. of Tanzania  Export       2.752592e+09
                         Import       5.739479e+09
                         Re-Export    1.449989e+08
                         Re-Import    9.982544e+07
Uruguay                  Export       4.703674e+09
                         Import       5.973113e+09
                         Re-Import    2.290161e+07
Vanuatu                  Export       3.243518e+07
                         Import       1.798128e+08
                         Re-Import    2.456160e+05
Venezuela                Export       4.536041e+10
                         Import       2.499898e+10
                         Re-Export    9.813520e+07
                         Re-Import    1.564800e+08
Viet Nam                 Export       8.072812e+10
                         Import       8.572856e+10
Wallis and Futuna Isds   Import       4.423441e+07
Yemen                    Export       5.581640e+09
                         Import       8.845478e+09
                         Re-Export    2.220523e+08
                         Re-Import    4.505609e+07
Zambia                   Export       4.358314e+09
                         Import       4.233917e+09
                         Re-Export    2.757621e+08
Zimbabwe                 Export       2.867999e+09
                         Import       4.545600e+09
                         Re-Export    8.562136e+07
Name: Trade (USD), Length: 622, dtype: float64

In [11]:
trade_17 = df[df['Year'] == 2017]

In [13]:
trade_17['Country or Area'].unique() == df['Country or Area'].unique()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  """Entry point for launching an IPython kernel.

False